@charset "utf-8";

$base-color-default: #1890ff;
$base-z-index: 999;
$base-title-color: #fff;

$menu-background: #001529;
$menu-background-active: $base-color-default;
$menu-color: hsla(0, 0%, 100%, 0.95);
$menu-color-active: $base-color-default;
$menu-hover: $base-color-default;

$base-left-menu-width: 220px;
$base-right-content-width: calc(100% - #{$base-left-menu-width});
$base-left-menu-width-min: 54px;
$base-right-content-width-min: calc(100% - #{$base-left-menu-width-min});



$base-font-size-small: 12px;
$base-font-size-default: 14px;
$base-font-size-big: 16px;
$base-font-size-bigger: 18px;
$base-font-size-max: 22px;
$base-color-header: $menu-background;
$base-color-blue: $base-color-default;
$base-color-green: #13ce66;
$base-color-white: #fff;
$base-color-black: #000;
$base-color-yellow: #ffba00;
$base-color-orange: #ff6700;
$base-color-red: #ff4d4f;
$base-color-gray: rgba(0, 0, 0, 0.65);
$base-main-width: 1279px;
$base-border-radius: 2px;
$base-border-color: #ebeef5;
$base-form-width: 600px;
$base-input-height: 32px;
$base-pagination-height: 28px;
$base-padding: 15px;
$base-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
$base-font-color: #606266;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menu-color;
  menuActiveText: $menu-color-active;
  //subMenuActiveText: $subMenuActiveText; 貌似木有用
  menuBg: $menu-background;
  //menuHover: $base-menu-background-active;
  //subMenuBg: $base-menu-children-background;
  //subMenuHover: $subMenuHover;貌似木有用
  //sideBarWidth: $sideBarWidth;貌似木有用
}
